{% extends 'base/base.html' %}

{% block title %}Naya News | Hot News
{% endblock title %}

{% block body %}

{% for article in articles %}
    <h3>{{article.title}}</h3>
    <p><small>{{article.created_at|timesince:article.updated_at}} ago</small></p>
    <p>{{article.content|truncatewords:5}}<a href="{{article.get_absolute_url}}">more</a></p>
    
    <hr>

{% endfor %}

{% endblock body %}